.brd {
    border: 4px double black; /* Параметры границы */
    padding: 10px; /* Поля вокруг текста */
	width:700px;
	height:500px;
}

table {
  border-collapse: collapse;
}

#mydiv1{
position: fixed; /* or absolute */
top: 50%;
left: 50%;
width: 400px;
height:150px;
margin: -50px 0 0 -100px;
background: #f0f0f0;
text-align: center;
font-family: 'Playfair Display SC', serif;
font-size: 24px;	
border: 4px double black;	
}
